<!-- extend from base layout -->
{% extends "base.html" %}
{% block head %}

  <script src="../static/d3/d3.js"></script>
{% endblock %}

{% block content %}
  <h1>Sentiments Analysis</h1>
  <div>

    <p>في هذه الصفحة يمكننا تصنيف الكلمات و الجمل سواء كانت موجبة أو سالبة
    </p> 
  </div>

  <h2>النص الخاص بك</h2>
  <p>
      {{ originalText }}
  </p>

  <hr>

   <h2>نتائج تحليل النص:</h2>
   <p>النتيجة لكل جملة في النص:
     {% for item in And %}
        {{item}}<br/>
      {% endfor %}
     
   <p>النتيجة للنص كامل: {{ OR }} </p>

 
{% endblock %}
